.form-modal1{
   background: rgb(103, 128, 103);
   border-radius: 12px;
   width:40%;
   padding:1rem;
   box-shadow: 2px 2px 2px 2px grey;
   z-index:101;
   position:fixed;
   top:30%;
   left:20%;
   animation: box 1s ease;
}
@keyframes box {
    0%{
        transform: scale(100%,75%);
    }
    100%{
    }
    
}